body{
    background-image: url("background img.png");
    background-size: contain;
    
}
*{
    font-family: Arial, Helvetica, sans-serif;
}

.nav_bar{ 
    
   background-color: #080808;
    height: 110px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.TC_logo{
    height: 130px;
    width: 400px;
    margin-left: 10px;
}
.logo{
    background-image: url("Sip Splurge logo.png");
    background-size: cover;
    height: 100px;
    width: 410px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
  position: relative;
  display: inline-block;
}
.menu{
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
a{
  text-decoration: none;
  color:white ;
}
  .reserve{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    position:relative ;
    display: inline-block;
}
.reserve {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

  .loc-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    position:relative ;
    display: inline-block;
}
.loc-dropdown .loc-dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.loc-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  .loc-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

  }
  .loc-content p:hover {
    background-color: #ddd;
  }
  
  .loc-dropdown:hover .loc-content {
    display: block;
  }
  .con-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    position:relative ;
    display: inline-block;
}
.con-dropdown .con-dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.con-content {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  .con-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

  }
  .con-content p:hover {
    background-color: #ddd;
  }
  
  .con-dropdown:hover .con-content {
    display: block;
  }
.hero-section{   
    background-image:url("TC_bg.webp") ;
    height:650px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-head{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    color: aliceblue;
    font-size:70px;
    font-family: "Papyrus";
    background-color: rgba(23, 26, 27, 0.7);
    margin-bottom: 450px;    
}
.hero-head-2{
    color:#2DF1CA;
    text-shadow: 2px 2px 3px #1c191b;
    font-family:"sofia";
  
}

/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
    margin-top: 300px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


